:root{
    --accent-color: #FFC107;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background-color: var(--base-color);
    height: 75vh;
    margin-top: 75px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(88, 88, 88, 0.1);
    width: min(400px, 80%);
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 30px;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
    color: var(--text-color);
}

form input:hover{
    border-color: var(--accent-color);
}

form input:focus{
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label{
    background-color: var(--text-color);
}

form input::placeholder{
    color: var(--text-color);
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85rem 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    transition: 150ms ease;
}

form button:hover{
    background-color: var(--text-color);
}

form button:focus{
    outline: none;
    background-color: var(--text-color);
}

form p{
    margin-top: 5px;
}

form a{    
    text-decoration: none;
    color: var(--accent-color);
}

form a:hover{
    text-decoration: underline;
    color: var(--text-color);
}

form a:focus{
    outline: none;
    color: var(--text-color);
}

form div.incorrect label{
    background-color: #FF5722;
}

form div.incorrect input{
    border-color: #FF5722;
}

#error-message{
    color: #FF5722;
}